{% extends 'Home/base.html' %}
  
{% block content %}
{% load static %}
    <main class="page">
        <!-- <rssapp-carousel id="9kZHT1xLVlD6EkMd"></rssapp-carousel>
        <script src="https://widget.rss.app/v1/carousel.js" type="text/javascript" async></script> -->
        <!-- <div class="wrapper">
            <iframe src="https://www.youtube.com/embed/mgR_N4OTbyw?si=OOR8iwnhHV1_MBSM" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            
            <iframe src="https://www.youtube.com/embed/vJG7YLx13to?si=Dt59kGlsBY007a-z" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div> -->
        <div>
            <rssapp-wall id="0dNA51YID0OHasmX"></rssapp-wall>
            <script src="https://widget.rss.app/v1/wall.js" type="text/javascript" async></script>
        </div>

        <button class="btn btn-block mb-5 mt-3"><a href="https://www.youtube.com/c/FoodBlogsbyGrateful">View
                More</a></button>
    </main>
    {% endblock %}
   