{% extends 'Home/base.html' %}
  
{% block content %}
{% load static %}
    <center>
        <main class="page">
            <div class="marquee mb-3">
                <spanx>
                    <strong>Login</strong> | Please insure you fill <br> in your correct information
                </spanx>
            </div>
            <div newss>
                <form method="post" action="{% url 'login' %}" class="form contact-form form-group">
                      {% csrf_token %}
                    <div class="form-row">
                      <input placeholder="Username" type="text" name="username" id="name" class="form-input form-control" />
                    </div>
                    <div class="form-row">
                      <input placeholder="Password" type="password" name="password" id="name" class="form-input form-control" />
                    </div>
                    <div class="form-row">
                      <button class="btn btn-block mt-3">Login</button>
                    </div>
                  </form>
                  <p>
                    Don't have an account? <a style="text-decoration: none;" href="{% url 'register' %}">SignUp</a>
                </p>
                <p>Forgot your password? <a style="text-decoration: none;" href="{% url 'reset_password' %}">Reset it here</a>.</p>
            </div>
        </main>
    </center>
    {% endblock %}