{% extends 'Home/base.html' %}
  
{% block content %}
{% load static %}
  <main class="page">
    <div class="recipe-page">
      <section class="recipes">
        <img src="/static/assets/images/Jollo rice.jpg" class="img-fluid img recipes-img" alt="">
        <article>
          <h2>Jollof</h2>
          {% if user.is_authenticated %}
          <!-- <p class="btn btn-success"><a href="https://paystack.com/pay/flavourfusiona">Place order</a></p> -->



          {% else %}
          <a href="{% url 'login' %}" class="btn btn-sucess">Login or SignUp To Place Order</a>
          {% endif %}
          <br>
          <p>
            Jollof rice with spicy chicken is a flavorful West African dish consisting of seasoned rice cooked with
            tomatoes, onions, peppers, and spices, typically served with grilled or fried chicken marinated in a spicy
            blend of herbs and spices.
            Jollof rice is a beloved dish across West Africa and is often served at celebrations, gatherings, and
            special occasions.
            Jollof rice is rich in carbohydrates and provides a good source of protein from the chicken. It also
            contains various vitamins and minerals from the vegetables and spices used in its preparation.

          </p>
          <div class="recipe-icons">
            <article>
              <i class="fas fa-clock"></i>
              <h5>prep time</h5>
              <p>30 min.</p>
            </article>
            <article>
              <i class="fas fa-user-friends"></i>
              <h5>cook time</h5>
              <p>20 min.</p>
            </article>
          </div>
          <div class="recipe-tags">
            Tags :<a href="{% url 'appetizer' %}">Appetizer (5)</a>
            <a href="{% url 'beverage' %}">Beverage (3)</a>
            <a href="{% url 'desert' %}">Desert (3)</a>
            <a href="{% url 'maincourse' %}">Main-course (3)</a>
            <a href="{% url 'salad' %}">Salad (3)</a>
            <a href="{% url 'soupandstew' %}">Soup & Stew (3)</a>
          </div>
        </article>
      </section>
    </div>
    <section class="recipe-content">
      <article>
        <h4>Instructions</h4>
        <div class="instruction">
          <header>
            <p>Step 1</p>
          </header>
          <p>Cook chicken with spices until fully cooked and set aside. </p>
        </div> <hr>
        <div class="instruction">
          <header>
            <p>Step 2</p>
          </header>
          <p>In a separate pot, sauté onions, tomatoes, bell peppers, garlic, and ginger until soft. </p>
        </div> <hr>
        <div class="instruction">
          <header>
            <p>Step 3</p>
          </header>
          <p> Add tomato paste, chili peppers, seasoning, and salt. </p>
        </div> <hr>
        <div class="instruction">
          <header>
            <p>Step 3</p>
          </header>
          <p> Stir in cooked rice and chicken. Cook until rice is tender and flavors are well combined. </p>
        </div> 
      </article>
      <article class="second-column">
        <div>
          <h4>Ingredients</h4>
          <p class="ingredient">Rice, tomato paste, onions, tomatoes, bell peppers, garlic, ginger, chicken, chili peppers, seasoning, salt, oil.</p>
        </div>
      </article>
    </section>
  </main>
{% endblock %}