<!-- reset_password.html -->
{% extends 'Home/base.html' %}
  
{% block content %}
{% load static %}
    <center>
        <main class="page">
            <div class="marquee mb-3">
                <spanx>
                    <strong>Reset Password</strong> | Please insure you fill <br> in your correct information
                </spanx>
            </div>
            <div newss>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p}}
                    <button class="btn btn-primary" type="submit">Reset Password</button>
                </form>
            </div>
            <br>
            <div>
                <a href="{% url 'login' %}"><button class="btn btn-primary">Go back</button></a>
                
            </div>
        </main>
    </center>
    {% endblock %}
